.footer{
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: space-around;
  background-color: white;
  color: black;
  margin-top: 15%;

}
.footer-logo{
  font-size: 15vh;
  margin-bottom: 0;
}

.footer-subtitle{
  margin-top: 0;
  font-size: 3vh;
}
h3{
  font-size: 7vh;
}
.sub-titles{
  font-size: 7vh;
}
ul {
  list-style-type: none;
}

li{
  text-align: left;
  font-size: 5vh;
}

@media screen and (max-width: 640px){
  .footer{
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: space-around;
    background-color: white;
    color: black;
    margin-top: 15%;
  
  }
}