.App {
  text-align: center;
}


.App-logo {
  height: 40vmin;
  pointer-events: none;
}

main {
  min-height: 100vh;
}

a{
  text-decoration: none;
  cursor: auto;
  color: white;
  font-family: 'Nanum Brush Script', cursive;
}

.home-logo {
  font-family: 'Nanum Brush Script', cursive;
  font-size: 25vh;
  margin: 1%;
  z-index: 1;
}

.site-logo {
  font-family: 'Nanum Brush Script', cursive;
  font-size: 9vh;
  margin-top: 30px;
}

h1 {
  font-size: 400%;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  font-family: 'Nanum Brush Script', cursive;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

a{
  text-decoration: none;
  cursor: auto;
  color: white;
}

.home-logo{
  position: absolute;
  text-align: center;
  top: 40%;
  left: 10%;
}
